@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #F4F4F4;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
   
  }
 
  .dark {
    --background: #333333;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-normal;
  }
}

/* Add this to ensure the font is applied globally */
html {
  font-family: 'Zen Antique Soft', serif;
}

html {
  scroll-behavior: smooth;
}

.toast-container {  
  border-radius: 8px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
  animation: fadeIn 0.3s ease-in-out;
}

.border-container {
  @apply rounded-lg shadow-md border border-gray-200 dark:border-gray-700 ;
}

.image-container {
  position: relative;
}

.image-slider-container {
  overflow: hidden;
  max-width: 360px;
  margin: auto;
  border-radius: 8px;
}

.image-slider {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.image {
  width: 100%;
  flex-shrink: 0;
  border-radius: 8px;
}

.equal-height {
  height: 100%; /* Ensure it stretches fully */
}

.equal-height-content {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure full height for content */
}

/* Custom animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-section {
  background-size: 70% 110%; /* Image occupies 50% width and 100% height */
  background-position: right center; /* Aligns image to the left */
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)),
    url('/HeroSectionBackground.png'); /* Replace with the actual image path */
}

@media (max-width: 768px) {
  .hero-section {
    background-size: cover; /* Image scales to fill the section */
    background-position: left; /* Center the image */
       
  }
}